extend layout
block content
	h1 #{title}
	p.
		This is a dummy text.
		It allows me to write dumb stuff
		Without feeling any guilt at all.

	p.
		Meowmix Meowmix Meowmix Meowmix

block sidebar
	.block
		h1 Right Sidebar
		p.
			This is the right side bar.
		br
		.readmore
			a(href='http://example.com') Read More
			